<nz-table #nzTable [nzData]="listOfData">
    <thead>
      <tr>
        <th nzCustomFilter>
            Name      
        </th>
        <th>
            Address
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th></th>
        <th *ngIf="!isCustomer"></th>
        <th *ngIf="isAdmin"></th>
        <th *ngIf="isAdmin"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>
            <button (click)="projections(data.id)" nz-button nzType="primary">Projections</button>
        </td>
        <td *ngIf="isAdmin">
            <button (click)="delete(data.id)" nz-button nzType="primary">Delete</button>
        </td>
        <td *ngIf="isAdmin">
            <button (click)="update(data.id)" nz-button nzType="primary">Update</button>
        </td>
        <td *ngIf="isManager">
            <button (click)="halls(data.id)" nz-button nzType="primary">Halls</button>
        </td>
        <td *ngIf="isAdmin">
            <button (click)="setNewManager(data.id)" nz-button nzType="primary">New manager</button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <br />
  <button *ngIf="isAdmin" (click)="newCinema()" nz-button nzType="primary">Add new cinema</button>