<div class="wallpaper">
    <form nz-form [formGroup]="validateForm" class="registrationForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired>First name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="firstName" formControlName="firstName" placeholder="First name"/>
          <nz-form-explain *ngIf="validateForm.get('firstName')?.dirty && validateForm.get('firstName')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>Last name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="lastName" formControlName="lastName" placeholder="Last name" />
          <nz-form-explain *ngIf="validateForm.get('lastName')?.dirty && validateForm.get('lastName')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
        
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>Username</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="username" formControlName="username" placeholder="Username" />
          <nz-form-explain *ngIf="validateForm.get('username')?.dirty && validateForm.get('username')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Phone</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="phone" formControlName="phone" placeholder="Phone" />
          <nz-form-explain *ngIf="validateForm.get('phone')?.dirty && validateForm.get('phone')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateOfBirth" nzRequired>Date of birth</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="dateOfBirth" formControlName="dateOfBirth" placeholder="yyyy-mm-dd" />
          <nz-form-explain *ngIf="validateForm.get('dateOfBirth')?.dirty && validateForm.get('dateOfBirth')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="email" id="email" placeholder="Email" />
          <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            type="password"
            id="password"
            placeholder="Password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
          />
          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button (click)="submitForm()" nz-button nzType="primary" [disabled]="!validateForm.valid">Sign up!</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>