<div class="wallpaper">
  <!-- <nz-label nzRequired>Manager :</nz-label> -->
      <nz-select
        *ngIf="!isUpdate"
        style="width: 200px; margin-left: 17%;"
        nzShowSearchselectedType
        nzAllowClear
        nzPlaceHolder="Choose manager"
        [(ngModel)]="managerId">  
      <nz-option *ngFor="let item of listOfData" [nzValue]="item.id" [nzLabel]="item.username"></nz-option>
    </nz-select>
    <br />
    <br />
    <form nz-form [formGroup]="validateForm" class="registrationForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="name" formControlName="name" placeholder="Name"/>
          <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>Address</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="address" formControlName="address" placeholder="Address" />
          <nz-form-explain *ngIf="validateForm.get('address')?.dirty && validateForm.get('address')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
        
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="email" formControlName="email" placeholder="Email" />
          <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Phone</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="phone" formControlName="phone" placeholder="Phone" />
          <nz-form-explain *ngIf="validateForm.get('phone')?.dirty && validateForm.get('phone')?.errors"
            ></nz-form-explain
          >
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button (click)="submitForm()" nz-button nzType="primary" [disabled]="!validateForm.valid">Confirm</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>